In [ ]:
'''this is mysql test example, need to install/run mysql server'''

import pymysql

##no = int(input('部门编号: '))
##name = input('部门名称: ')
##location = input('部门所在地: ')

# 1. 创建连接（Connection）
conn = pymysql.connect(host='127.0.0.1', port=3306,
                       user='root', password='Sjtu&90141',
                       database='school', charset='utf8mb4')
with conn.cursor() as cursor:
# 2. 通过游标对象向数据库服务器发出SQL语句
        result = cursor.execute(
            'select * from tb_teacher;'
        )
        data_all=cursor.fetchall()

for data in data_all:
        print(data)

# 3. 关闭连接释放资源
cursor.close()
conn.close()

In [ ]:
import sqlite3

'''
sqlite3 API https://zhuanlan.zhihu.com/p/196807781
SQL教程 https://www.runoob.com/sql/sql-tutorial.html
'''


# 创建与数据库的连接
conn = sqlite3.connect(':memory:')

#创建一个游标 cursor
cur = conn.cursor()

# 建表的sql语句
sql_text_1 = '''CREATE TABLE scores
           (姓名 TEXT,
            班级 TEXT,
            性别 TEXT,
            语文 NUMBER,
            数学 NUMBER,
            英语 NUMBER);'''
# 执行sql语句
cur.execute(sql_text_1)

# 插入单条数据
sql_text_2 = "INSERT INTO scores VALUES('A', '一班', '男', 96, 94, 98)"
cur.execute(sql_text_2)

data = [('B', '一班', '女', 78, 87, 85),
        ('C', '一班', '男', 98, 84, 90),
        ]
cur.executemany('INSERT INTO scores VALUES (?,?,?,?,?,?)', data)

# 查询所有的学生
sql_text_3 = "SELECT * FROM scores"
cur.execute(sql_text_3)
# 获取查询结果
data_all = cur.fetchall()

print("所有的学生:")
for data in data_all:
        print(data)

# 查询数学成绩大于90分的学生
sql_text_3 = "SELECT * FROM scores WHERE 数学>90"
cur.execute(sql_text_3)
# 获取查询结果
data_all = cur.fetchall()

print("数学成绩大于90分的学生:")
for data in data_all:
        print(data)

# 关闭游标
cur.close()
# 关闭连接
conn.close()