In [12]:
import pymysql

##no = int(input('部门编号: '))
##name = input('部门名称: ')
##location = input('部门所在地: ')

# 1. 创建连接（Connection）
conn = pymysql.connect(host='127.0.0.1', port=3306,
                       user='root', password='Sjtu&90141',
                       database='school', charset='utf8mb4')
with conn.cursor() as cursor:
# 2. 通过游标对象向数据库服务器发出SQL语句
        result = cursor.execute(
            'select * from tb_student;'
        )
        data_all=cursor.fetchall()

for data in data_all:
        print(data)

# 3. 关闭连接释放资源
cursor.close()
conn.close()

(1001, '杨过', 1, datetime.date(1990, 3, 4), '湖南长沙', 1)
(1002, '任我行', 1, datetime.date(1992, 2, 2), '湖南长沙', 1)
(1033, '王语嫣', 0, datetime.date(1989, 12, 3), '四川成都', 1)
(1378, '纪嫣然', 0, datetime.date(1995, 8, 12), '四川绵阳', 1)
(1572, '岳不群', 1, datetime.date(1993, 7, 19), '陕西咸阳', 1)
(1954, '林平之', 1, datetime.date(1994, 9, 20), '福建莆田', 1)
(2035, '东方不败', 1, datetime.date(1988, 6, 30), None, 2)
(3011, '林震南', 1, datetime.date(1985, 12, 12), '福建莆田', 3)
(3755, '项少龙', 1, datetime.date(1993, 1, 25), '四川成都', 3)
(3923, '杨不悔', 0, datetime.date(1985, 4, 17), '四川成都', 3)